body {
  background-color: #1f1f1f;
  font-family: verdana;
  font-size: 14px;
  text-align: center;
}

h1 {
  color: #3a3a3a;
  text-align: center;
  margin-bottom: 24px;
}

h2 {
  color: #3a3a3a;
  text-align: center;
  margin-bottom: 20px;
}

p {
   color: #3a3a3a;
  margin-bottom: 16px;
}

.chenar {
  background-color: #faf7f4;
  max-width: 400px;
  margin: auto;
  padding: 14px;
  border-width: 1.5px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 8px;
 box-shadow: rgba(255, 220, 200, 0.2) 0px -20px 40px;
  
}
