body {
  background-color: black;
  font-family: verdana;
  font-size: 14px;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

p {
   color: white;
}

.chenar {
  background-color: gray;
  width: 700px;
  margin: auto;
  padding: 14px
  
}
