body {
  background-color: black;
  font-family: verdana;
  font-size: 14px;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
  margin-bottom: 24px;
}

h2 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

p {
   color: white;
  margin-bottom: 16px;
}

.chenar {
  background-color: gray;
  max-width: 400px;
  margin: auto;
  padding: 14px;
  border-width: 1.5px;
  border-style: solid;
  border-color: red;
  border-radius: 8px;
  box-shadow: 16px;
  
}
