body {
  background-color: #1f1f1f;
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

h1 {
  color: #3a3a3a;
  text-align: center;
  margin-bottom: 24px;
}

h2 {
  color: #3a3a3a;
  text-align: center;
  margin-bottom: 20px;
}

p {
   color: #3a3a3a;
  margin-bottom: 16px;
}

img { 
  max-width: 600px;

.chenar {
  background-color: #faf7f4;
  max-width: 700px;
  margin: auto;
  padding: 14px;
  border-width: 1.5px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 8px;
 box-shadow: rgba(255, 220, 200, 0.35) -20px 25px 50px;
  
}

.imag 
{ display: flex;
flex-wrap: wrap;
gap: 12px;
justify-content: center;
}
